.table-container {
  margin: 2rem;
  // margin-bottom: 12rem;
}

.dropdown-menu {
  min-width: 5rem !important;
  background-color: #b1dc8f !important;
}
.drop-container {
  background-color: burlywood;
  width: 300px;
  height: 100px;
}
